test/resources/address_enrichment_and_caching_using_stepfunctions_location_service_scatter_gather.json
{
    "Comment": "Scatter Gather State Machine for Amazon Location Service",
    "StartAt": "Scatter Function",
    "States": {
        "Gather Function": {
            "End": true,
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$"
            },
            "Resource": "${GatherFunctionArn}",
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6
                }
            ],
            "Type": "Task"
        },
        "Process": {
            "ItemsPath": "$.Shards",
            "Iterator": {
                "StartAt": "Process Function",
                "States": {
                    "Process Function": {
                        "End": true,
                        "OutputPath": "$.Payload",
                        "Parameters": {
                            "Payload.$": "$"
                        },
                        "Resource": "${ProcessFunctionArn}",
                        "Retry": [
                            {
                                "BackoffRate": 2,
                                "ErrorEquals": [
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException"
                                ],
                                "IntervalSeconds": 2,
                                "MaxAttempts": 6
                            }
                        ],
                        "Type": "Task"
                    }
                }
            },
            "MaxConcurrency": 100,
            "Next": "Gather Function",
            "Type": "Map"
        },
        "Scatter Function": {
            "Next": "Process",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload.$": "$"
            },
            "Resource": "${ScatterFunctionArn}",
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6
                }
            ],
            "Type": "Task"
        }
    }
}