test/resources/app_decompose_for_parallelism_runner_simplewait.json
{
    "Comment": "A state machine that stands in for running an actual test. This one will simply wait for 5 seconds or for the number or seconds requested in the input.",
    "StartAt": "VerifyInput",
    "States": {
        "GenerateDefaultTestInput": {
            "Next": "RunTest",
            "Parameters": {
                "delay-seconds": 5
            },
            "ResultPath": "$.test-input",
            "Type": "Pass"
        },
        "RunTest": {
            "End": true,
            "SecondsPath": "$.test-input.delay-seconds",
            "Type": "Wait"
        },
        "VerifyInput": {
            "Choices": [
                {
                    "And": [
                        {
                            "IsPresent": true,
                            "Variable": "$.test-input.delay-seconds"
                        },
                        {
                            "IsNumeric": true,
                            "Variable": "$.test-input.delay-seconds"
                        }
                    ],
                    "Next": "RunTest"
                }
            ],
            "Default": "GenerateDefaultTestInput",
            "Type": "Choice"
        }
    }
}