test/resources/app_kyc_with_eventbridge.json
{
    "Comment": "A Know Your Customer (KYC) process consists of a number of customer identity checks that precede a decision to approve a new customer and start  the on-boarding process.",
    "StartAt": "Check identity",
    "States": {
        "Approve or decline": {
            "Choices": [
                {
                    "BooleanEquals": true,
                    "Next": "Update risk profile",
                    "Variable": "$.checksPassed"
                },
                {
                    "BooleanEquals": false,
                    "Next": "New account declined",
                    "Variable": "$.checksPassed"
                }
            ],
            "Comment": "Approve or decline the new account request",
            "Default": "New account declined",
            "Type": "Choice"
        },
        "Check identity": {
            "Branches": [
                {
                    "StartAt": "Check name and address",
                    "States": {
                        "Check name and address": {
                            "Comment": "Validate name \u0026 address – check customer identity.",
                            "End": true,
                            "Result": true,
                            "ResultPath": "$.identityChecked",
                            "Type": "Pass"
                        }
                    }
                },
                {
                    "StartAt": "Agency security clearance",
                    "States": {
                        "Agency security clearance": {
                            "Comment": "Validate name with national securty agency – check the name against  lists of known people.",
                            "End": true,
                            "Result": true,
                            "ResultPath": "$.agencyChecked",
                            "Type": "Pass"
                        }
                    }
                }
            ],
            "Next": "Identity check completed",
            "ResultSelector": {
                "agencyChecked.$": "$[1].agencyChecked",
                "customerAddress.$": "$[0].customerAddress",
                "customerName.$": "$[0].customerName",
                "identityChecked.$": "$[0].identityChecked"
            },
            "Type": "Parallel"
        },
        "Failed": {
            "Type": "Fail"
        },
        "Identity check completed": {
            "Comment": "Publish event when identity check has been completed",
            "Next": "Verify risk profile",
            "Parameters": {
                "Entries": [
                    {
                        "Detail.$": "$",
                        "DetailType": "Identity check completed",
                        "EventBusName": "${CentralEventBusName}",
                        "Source": "com.aws.kyc"
                    }
                ]
            },
            "Resource": "arn:aws:states:::events:putEvents",
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 2
                }
            ],
            "Type": "Task"
        },
        "New account approved": {
            "Comment": "Publish event new customer account request has been approved",
            "Next": "Succeeded",
            "Parameters": {
                "Entries": [
                    {
                        "Detail.$": "$",
                        "DetailType": "New account approved",
                        "EventBusName": "${CentralEventBusName}",
                        "Source": "com.aws.kyc"
                    }
                ]
            },
            "Resource": "arn:aws:states:::events:putEvents",
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 2
                }
            ],
            "Type": "Task"
        },
        "New account declined": {
            "Comment": "Publish event new account request has been declined",
            "Next": "Failed",
            "Parameters": {
                "Entries": [
                    {
                        "Detail.$": "$",
                        "DetailType": "New account declined",
                        "EventBusName": "${CentralEventBusName}",
                        "Source": "com.aws.kyc"
                    }
                ]
            },
            "Resource": "arn:aws:states:::events:putEvents",
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 2
                }
            ],
            "Type": "Task"
        },
        "Succeeded": {
            "Type": "Succeed"
        },
        "Update risk profile": {
            "Comment": "Update risk profile",
            "Next": "New account approved",
            "Type": "Pass"
        },
        "Verify risk profile": {
            "Comment": "Calculate the customer’s risk of being involved in illegal activity.",
            "Next": "Approve or decline",
            "Result": true,
            "ResultPath": "$.checksPassed",
            "Type": "Pass"
        }
    }
}