test/resources/aws_location_detected_addresses_to_map.json
{
    "StartAt": "Detect text language",
    "States": {
        "Detect addresses in text": {
            "Next": "Get coordinates for each address",
            "OutputPath": "$.Payload",
            "Parameters": {
                "FunctionName": "${DetectAddressesInText}",
                "Payload.$": "$"
            },
            "Resource": "arn:${AWS::Partition}:states:::lambda:invoke",
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6
                }
            ],
            "Type": "Task"
        },
        "Detect text language": {
            "Next": "Is it English?",
            "OutputPath": "$.Payload",
            "Parameters": {
                "FunctionName": "${DetectTextLanguage}",
                "Payload.$": "$"
            },
            "Resource": "arn:${AWS::Partition}:states:::lambda:invoke",
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6
                }
            ],
            "Type": "Task"
        },
        "Generate map with markers": {
            "End": true,
            "OutputPath": "$.Payload",
            "Parameters": {
                "FunctionName": "${GenerateMapWithMarkers}",
                "Payload.$": "$"
            },
            "Resource": "arn:${AWS::Partition}:states:::lambda:invoke",
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6
                }
            ],
            "Type": "Task"
        },
        "Get coordinates for each address": {
            "Next": "Generate map with markers",
            "OutputPath": "$.Payload",
            "Parameters": {
                "FunctionName": "${GetCoordinatesForEachAddress}",
                "Payload.$": "$"
            },
            "Resource": "arn:${AWS::Partition}:states:::lambda:invoke",
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6
                }
            ],
            "Type": "Task"
        },
        "Is it English?": {
            "Choices": [
                {
                    "Next": "Detect addresses in text",
                    "StringMatches": "en",
                    "Variable": "$.lang_code"
                }
            ],
            "Default": "Language not supported",
            "Type": "Choice"
        },
        "Language not supported": {
            "Cause": "Amazon Comprehend supports PII detection in only English text.",
            "Error": "DetectTextLanguage returned something that is not \"en\"",
            "Type": "Fail"
        }
    },
    "TimeoutSeconds": 30
}