test/resources/aws_step_functions_twitch_series_service_integrations.json
{
    "Comment": "A Service Integrations demonstration",
    "StartAt": "Write to DynamoDB",
    "States": {
        "Publish to SNS": {
            "End": true,
            "Parameters": {
                "Message": {
                    "Input": "Hello from Step Functions!"
                },
                "TopicArn": "${DemoTopicArn}"
            },
            "Resource": "arn:aws:states:::sns:publish",
            "ResultPath": "$.SNS",
            "Type": "Task"
        },
        "Send Message to SQS": {
            "Next": "Publish to SNS",
            "Parameters": {
                "MessageBody.$": "$.DynamoDB",
                "QueueUrl": "${DemoQueueUrl}"
            },
            "Resource": "arn:aws:states:::sqs:sendMessage",
            "ResultPath": "$.SQS",
            "Type": "Task"
        },
        "Write to DynamoDB": {
            "Next": "Send Message to SQS",
            "Parameters": {
                "Item": {
                    "Channel": {
                        "S.$": "$.Channel"
                    },
                    "Name": {
                        "S": "María García"
                    },
                    "id": {
                        "S.$": "$$.Execution.Id"
                    }
                },
                "TableName": "${DemoTableName}"
            },
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "ResultPath": "$.DynamoDB",
            "Type": "Task"
        }
    }
}