test/resources/aws_step_functions_rpa_process_scanned_invoice_workflow.json
{
    "Comment": "A state machine that starts a workflow and monitors the workflow until it completes.",
    "StartAt": "Did Analyze Document Job Complete Successfully?",
    "States": {
        "Analyze Document Job Failed": {
            "Cause": "Textract Job Failed",
            "Error": "Analyze Document Job returned FAILED",
            "Type": "Fail"
        },
        "Archive Document": {
            "InputPath": "$",
            "Next": "Document Processed",
            "Resource": "${ArchiveDocumentLambdaArn}",
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3
                }
            ],
            "Type": "Task"
        },
        "Did Analyze Document Job Complete Successfully?": {
            "Choices": [
                {
                    "Next": "Save Document Analysis",
                    "StringEquals": "SUCCEEDED",
                    "Variable": "$.status"
                },
                {
                    "Next": "Analyze Document Job Failed",
                    "StringEquals": "FAILED",
                    "Variable": "$.status"
                }
            ],
            "Default": "Analyze Document Job Failed",
            "Type": "Choice"
        },
        "Document Processed": {
            "Type": "Succeed"
        },
        "Is Approved for Payment?": {
            "Choices": [
                {
                    "Next": "Archive Document",
                    "StringEquals": "Approved for Payment",
                    "Variable": "$.payment_info.status"
                },
                {
                    "Next": "Review Document",
                    "StringEquals": "Pending Review",
                    "Variable": "$.payment_info.status"
                }
            ],
            "Default": "Review Document",
            "Type": "Choice"
        },
        "Process Document Analysis": {
            "InputPath": "$",
            "Next": "Is Approved for Payment?",
            "Resource": "${ProcessDocumentAnalysisLambdaArn}",
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3
                }
            ],
            "Type": "Task"
        },
        "Review Document": {
            "InputPath": "$",
            "Next": "Document Processed",
            "Parameters": {
                "Message.$": "$",
                "TopicArn": "${PendingReviewTopicArn}"
            },
            "Resource": "arn:aws:states:::sns:publish",
            "ResultPath": "$",
            "Type": "Task"
        },
        "Save Document Analysis": {
            "InputPath": "$",
            "Next": "Process Document Analysis",
            "Resource": "${SaveDocumentAnalysisLambdaArn}",
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3
                }
            ],
            "Type": "Task"
        }
    }
}