test/resources/aws_transcribe_comprehend_podcast_rss_sfn_state.json
{
    "StartAt": "Process Podcast Rss",
    "States": {
        "Are all Episodes Processed?": {
            "Choices": [
                {
                    "Next": "Delete Transcribe Custom Vocabulary",
                    "StringEquals": "COMPLETE",
                    "Variable": "$.episodes.status"
                }
            ],
            "Default": "Wait 30 Seconds",
            "Type": "Choice"
        },
        "Check Vocabulary Status": {
            "InputPath": "$.vocabularyInfo",
            "Next": "Is Vocabulary Completed?",
            "Resource": "${monitorTranscribeVocabulary.Arn}",
            "ResultPath": "$.vocabularyInfo",
            "Type": "Task"
        },
        "Create Custom Vocabulary for Transcribe": {
            "Next": "Is Vocabulary Completed?",
            "Resource": "${createTranscribeVocabulary.Arn}",
            "ResultPath": "$.vocabularyInfo",
            "Type": "Task"
        },
        "Create ElasticSearch Index Mapping": {
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Delete Transcribe Custom Vocabulary"
                }
            ],
            "InputPath": null,
            "Next": "Process Podcast Episodes",
            "Resource": "${createElasticsearchIndex.Arn}",
            "ResultPath": null,
            "Type": "Task"
        },
        "Delete Transcribe Custom Vocabulary": {
            "End": true,
            "InputPath": "$.vocabularyInfo",
            "Resource": "${deleteTranscribeVocabulary.Arn}",
            "ResultPath": "$.vocabularyInfo",
            "Type": "Task"
        },
        "Is Vocabulary Completed?": {
            "Choices": [
                {
                    "Next": "Create ElasticSearch Index Mapping",
                    "StringEquals": "READY",
                    "Variable": "$.vocabularyInfo.status"
                },
                {
                    "Next": "Wait For Vocabulary Creation",
                    "StringEquals": "PENDING",
                    "Variable": "$.vocabularyInfo.status"
                },
                {
                    "Next": "Processing Error",
                    "StringEquals": "FAILED",
                    "Variable": "$.vocabularyInfo.status"
                }
            ],
            "Default": "Processing Error",
            "Type": "Choice"
        },
        "Process Podcast Episodes": {
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Delete Transcribe Custom Vocabulary"
                }
            ],
            "Next": "Are all Episodes Processed?",
            "Resource": "${processPodcastItem.Arn}",
            "ResultPath": "$.episodes",
            "Type": "Task"
        },
        "Process Podcast Rss": {
            "Next": "Create Custom Vocabulary for Transcribe",
            "Resource": "${processPodcastRss.Arn}",
            "ResultPath": "$",
            "Type": "Task"
        },
        "Processing Error": {
            "Type": "Fail"
        },
        "Wait 30 Seconds": {
            "Next": "Process Podcast Episodes",
            "Seconds": 30,
            "Type": "Wait"
        },
        "Wait For Vocabulary Creation": {
            "Next": "Check Vocabulary Status",
            "Seconds": 5,
            "Type": "Wait"
        }
    }
}