test/resources/aws_step_functions_using_it_automation.json
{
    "StartAt": "EvaluateRequest",
    "States": {
        "ActionRequest": {
            "Choices": [
                {
                    "Next": "OpenIncidentTicket",
                    "StringEquals": "NON_COMPLIANT",
                    "Variable": "$.EvaluateRequestOutput.body.complianceType"
                },
                {
                    "Next": "NoActionRequired",
                    "StringEquals": "COMPLIANT",
                    "Variable": "$.EvaluateRequestOutput.body.complianceType"
                },
                {
                    "Next": "NoActionRequired",
                    "StringEquals": "NOT_APPLICABLE",
                    "Variable": "$.EvaluateRequestOutput.body.complianceType"
                },
                {
                    "Next": "NotifyOperationsTeam",
                    "StringEquals": "MANUAL",
                    "Variable": "$.EvaluateRequestOutput.body.complianceType"
                }
            ],
            "Default": "NotifyOperationsTeam",
            "Type": "Choice"
        },
        "CloseTicket": {
            "Next": "NotifyOperationsTeam",
            "Resource": "${PrepareMessage.Arn}",
            "ResultPath": "$.CloseTicketResponse",
            "Type": "Task"
        },
        "EvaluateRequest": {
            "Next": "ActionRequest",
            "Resource": "arn:aws:lambda:ap-south-1:039553791689:function:EvaluateRequest",
            "ResultPath": "$.EvaluateRequestOutput",
            "Type": "Task"
        },
        "NoActionRequired": {
            "Type": "Succeed"
        },
        "NotifyOperationsTeam": {
            "End": true,
            "Parameters": {
                "Message.$": "$.CloseTicketResponse.message",
                "MessageAttributes": {
                    "myattributeno1": {
                        "DataType": "String",
                        "StringValue": "value of my attribute no 1"
                    },
                    "myattributeno2": {
                        "DataType": "String",
                        "StringValue": "value of my attribute no 2"
                    }
                },
                "MessageStructure": "json",
                "TopicArn": "${!Ref StepFunctionsStateMachine}"
            },
            "Resource": "arn:aws:states:::sns:publish",
            "Type": "Task"
        },
        "OpenIncidentTicket": {
            "Next": "ResolveIssue",
            "Resource": "${OpenIncident.Arn}",
            "ResultPath": "$.TicketCreationResponse",
            "Retry": [
                {
                    "BackoffRate": 1,
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 2
                }
            ],
            "Type": "Task"
        },
        "ResolveIssue": {
            "Catch": [
                {
                    "ErrorEquals": [
                        "HandledError"
                    ],
                    "Next": "NotifyOperationsTeam"
                }
            ],
            "Next": "CloseTicket",
            "Resource": "${ResolveIncident.Arn}",
            "ResultPath": "$.ResolveTicketResponse",
            "Type": "Task"
        }
    }
}