test/resources/aws_step_functions_waitable_pattern.json
{
    "Comment": "An example of the Amazon States Language using wait states",
    "StartAt": "SetInitialStatus",
    "States": {
        "SetFinalStatus": {
            "End": true,
            "Parameters": {
                "ExpressionAttributeValues": {
                    ":newStatus": {
                        "S": "COMPLETED"
                    },
                    ":newTimestamp": {
                        "S.$": "$$.State.EnteredTime"
                    }
                },
                "Key": {
                    "Id": {
                        "S.$": "$.Id"
                    }
                },
                "TableName": "${DDBTable}",
                "UpdateExpression": "SET ProcessStatus = :newStatus, LastUpdated = :newTimestamp"
            },
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "ResultPath": null,
            "Retry": [
                {
                    "BackoffRate": 10,
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 20,
                    "MaxAttempts": 5
                }
            ],
            "Type": "Task"
        },
        "SetInitialStatus": {
            "Next": "WaitUntil",
            "OutputPath": "$",
            "Parameters": {
                "Item": {
                    "Id": {
                        "S.$": "$.Id"
                    },
                    "LastUpdated": {
                        "S.$": "$$.State.EnteredTime"
                    },
                    "ProcessStatus": {
                        "S": "STARTED"
                    },
                    "StartActionAt": {
                        "S.$": "$.StartTimestamp"
                    }
                },
                "TableName": "${DDBTable}"
            },
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "ResultPath": null,
            "Retry": [
                {
                    "BackoffRate": 10,
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 20,
                    "MaxAttempts": 5
                }
            ],
            "Type": "Task"
        },
        "WaitUntil": {
            "Next": "SetFinalStatus",
            "OutputPath": "$",
            "TimestampPath": "$.StartTimestamp",
            "Type": "Wait"
        }
    }
}