test/resources/aws_step_functions_twitch_series_jsonpath_pass_state_manipulation.json
{
    "Comment": "A Hello World example demonstrating various state types of the Amazon States Language",
    "StartAt": "Pass",
    "States": {
        "Invoke Lambda function": {
            "Next": "Manipulator",
            "Parameters": {
                "FunctionName": "${JSONPathLambdaFunction}",
                "Payload": {
                    "name.$": "$.name"
                }
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.lambdaOutput",
            "Type": "Task"
        },
        "Manipulator": {
            "End": true,
            "Parameters": {
                "Date": "2020-04-28T18:38:00",
                "Message.$": "$.lambdaOutput.Payload.Message"
            },
            "Type": "Pass"
        },
        "Pass": {
            "Comment": "A Pass state passes its input to its output, without performing work. Pass states are useful when constructing and debugging state machines.",
            "Next": "Invoke Lambda function",
            "Type": "Pass"
        }
    }
}