test/resources/aws_step_functions_twitch_series_nested_workflows_parent.json
{
    "Comment": "An example of the Amazon States Language using a parallel state to execute two branches at the same time.",
    "StartAt": "Parallel",
    "States": {
        "Final State": {
            "End": true,
            "Type": "Pass"
        },
        "Parallel": {
            "Branches": [
                {
                    "StartAt": "Failing Child",
                    "States": {
                        "Failing Child": {
                            "Catch": [
                                {
                                    "ErrorEquals": [
                                        "States.TaskFailed"
                                    ],
                                    "Next": "Task Failure Fallback"
                                }
                            ],
                            "End": true,
                            "Parameters": {
                                "Input": {
                                    "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                                },
                                "Name": "FailingChild",
                                "StateMachineArn": "${FailingChildWorkflowArn}"
                            },
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Retry": [
                                {
                                    "BackoffRate": 2,
                                    "ErrorEquals": [
                                        "States.TaskFailed"
                                    ],
                                    "IntervalSeconds": 20,
                                    "MaxAttempts": 2
                                }
                            ],
                            "Type": "Task"
                        },
                        "Task Failure Fallback": {
                            "End": true,
                            "Parameters": {
                                "ErrorObject.$": "$",
                                "Message": "Child workflow failed; retry limit reached. See ErrorObject for additional information."
                            },
                            "Type": "Pass"
                        }
                    }
                },
                {
                    "StartAt": "Succeeding Child",
                    "States": {
                        "Succeeding Child": {
                            "End": true,
                            "Parameters": {
                                "Input": {
                                    "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                                },
                                "Name": "SucceedingChild",
                                "StateMachineArn": "${SucceedingChildWorkflowArn}"
                            },
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Type": "Task"
                        }
                    }
                }
            ],
            "Next": "Final State",
            "Type": "Parallel"
        }
    }
}