test/resources/aws_transcribe_comprehend_podcast_state.json
{
    "StartAt": "IsDryRun",
    "States": {
        "Check Transcribe Status": {
            "InputPath": "$.transcribe",
            "Next": "Is Transcribe Completed?",
            "Resource": "${checkTranscribe.Arn}",
            "ResultPath": "$.transcribeStatus",
            "Type": "Task"
        },
        "Complete": {
            "Type": "Succeed"
        },
        "Download Podcast": {
            "Next": "Start Transcribe",
            "Resource": "${downloadPodcast.Arn}",
            "ResultPath": "$.audioS3Location",
            "Type": "Task"
        },
        "Is Transcribe Completed?": {
            "Choices": [
                {
                    "Next": "Process Transcription",
                    "StringEquals": "COMPLETED",
                    "Variable": "$.transcribeStatus.status"
                }
            ],
            "Default": "Wait for Transcribe Completion",
            "Type": "Choice"
        },
        "IsDryRun": {
            "Choices": [
                {
                    "Next": "Complete",
                    "StringEquals": "TRUE",
                    "Variable": "$.dryrun"
                }
            ],
            "Default": "Download Podcast",
            "Type": "Choice"
        },
        "Process Transcription": {
            "Branches": [
                {
                    "StartAt": "Process Transcript by Paragraph",
                    "States": {
                        "Process Transcript by Paragraph": {
                            "End": true,
                            "Resource": "${processTranscriptionParagraph.Arn}",
                            "Type": "Task"
                        }
                    }
                },
                {
                    "StartAt": "Generate Full Text Transcript",
                    "States": {
                        "Generate Full Text Transcript": {
                            "End": true,
                            "Resource": "${processTranscriptionFullText.Arn}",
                            "Type": "Task"
                        }
                    }
                }
            ],
            "Next": "uploadToElasticsearch",
            "ResultPath": "$.processedTranscription",
            "Type": "Parallel"
        },
        "Start Transcribe": {
            "InputPath": "$",
            "Next": "Check Transcribe Status",
            "Resource": "${podcastTranscribe.Arn}",
            "ResultPath": "$.transcribe",
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "ThrottlingException"
                    ],
                    "IntervalSeconds": 120,
                    "MaxAttempts": 5
                },
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 60,
                    "MaxAttempts": 3
                }
            ],
            "Type": "Task"
        },
        "Wait for Transcribe Completion": {
            "Next": "Check Transcribe Status",
            "Seconds": 60,
            "Type": "Wait"
        },
        "uploadToElasticsearch": {
            "InputPath": "$",
            "Next": "Complete",
            "Resource": "${uploadToElasticsearch.Arn}",
            "ResultPath": "$.elasticsearchResult",
            "Type": "Task"
        }
    }
}