test/resources/aws_step_functions_etl_pipeline_pattern.json
{
    "Comment": "A HELLO World example of the Amazon States Language using Pass states...",
    "StartAt": "Validate input csv",
    "States": {
        "Error Notification": {
            "Next": "Fail",
            "Parameters": {
                "executionname.$": "$$.Execution.Name",
                "msg.$": "$.msg",
                "status.$": "$.Status"
            },
            "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${NotificationFunction}",
            "Type": "Task"
        },
        "FAIL - Move file to error folder": {
            "Next": "Error Notification",
            "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ArchiveFunction}",
            "Type": "Task"
        },
        "Fail": {
            "Cause": "validation failed",
            "Error": "ValidationError",
            "Type": "Fail"
        },
        "Move file to archive": {
            "Next": "Success Notification",
            "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ArchiveFunction}",
            "Type": "Task"
        },
        "Partitioned File Crawler Finished?": {
            "Choices": [
                {
                    "Next": "Partitioned File Crawler Wait",
                    "Or": [
                        {
                            "StringEquals": "STOPPING",
                            "Variable": "$.taskresult.Status"
                        },
                        {
                            "StringEquals": "RUNNING",
                            "Variable": "$.taskresult.Status"
                        }
                    ]
                },
                {
                    "Next": "Move file to archive",
                    "StringEquals": "READY",
                    "Variable": "$.taskresult.Status"
                },
                {
                    "Next": "FAIL - Move file to error folder",
                    "StringEquals": "RETRYLIMITREACH",
                    "Variable": "$.taskresult.Status"
                },
                {
                    "Next": "FAIL - Move file to error folder",
                    "StringEquals": "FAILED",
                    "Variable": "$.taskresult.Status"
                }
            ],
            "Default": "FAIL - Move file to error folder",
            "Type": "Choice"
        },
        "Partitioned File Crawler Status Check": {
            "InputPath": "$.taskresult",
            "Next": "Partitioned File Crawler Finished?",
            "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CrawlerStatusCheckFunction}",
            "ResultPath": "$.taskresult",
            "Type": "Task"
        },
        "Partitioned File Crawler Wait": {
            "Next": "Partitioned File Crawler Status Check",
            "Seconds": 30,
            "Type": "Wait"
        },
        "Raw File Crawler Finished?": {
            "Choices": [
                {
                    "Next": "Raw File Crawler Wait",
                    "Or": [
                        {
                            "StringEquals": "STOPPING",
                            "Variable": "$.taskresult.Status"
                        },
                        {
                            "StringEquals": "RUNNING",
                            "Variable": "$.taskresult.Status"
                        }
                    ]
                },
                {
                    "Next": "Run Glue Job",
                    "StringEquals": "READY",
                    "Variable": "$.taskresult.Status"
                },
                {
                    "Next": "FAIL - Move file to error folder",
                    "StringEquals": "RETRYLIMITREACH",
                    "Variable": "$.taskresult.Status"
                },
                {
                    "Next": "FAIL - Move file to error folder",
                    "StringEquals": "FAILED",
                    "Variable": "$.taskresult.Status"
                }
            ],
            "Default": "FAIL - Move file to error folder",
            "Type": "Choice"
        },
        "Raw File Crawler Status Check": {
            "InputPath": "$.taskresult",
            "Next": "Raw File Crawler Finished?",
            "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CrawlerStatusCheckFunction}",
            "ResultPath": "$.taskresult",
            "Type": "Task"
        },
        "Raw File Crawler Wait": {
            "Next": "Raw File Crawler Status Check",
            "Seconds": 30,
            "Type": "Wait"
        },
        "Run Glue Job": {
            "Catch": [
                {
                    "Comment": "Error fall back for glue job",
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FAIL - Move file to error folder",
                    "ResultPath": "$.error-info"
                }
            ],
            "Next": "Start Crawler For Partitioned File",
            "Parameters": {
                "JobName": "${GlueJob}"
            },
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "ResultPath": null,
            "Type": "Task"
        },
        "Start Crawler For Partitioned File": {
            "Catch": [
                {
                    "Comment": "Crawler is running for long time",
                    "ErrorEquals": [
                        "CrawlerRunningException"
                    ],
                    "Next": "FAIL - Move file to error folder"
                },
                {
                    "Comment": "Error fall back",
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FAIL - Move file to error folder",
                    "ResultPath": "$.error-info"
                }
            ],
            "Next": "Partitioned File Crawler Status Check",
            "Parameters": {
                "Crawler_Name": "${CrawlPartitionedFile}"
            },
            "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${StartCrawlerFunction}",
            "ResultPath": "$.taskresult",
            "ResultSelector": {
                "cnt": "0",
                "crawler_name": "${CrawlPartitionedFile}"
            },
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "CrawlerRunningException"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 10
                }
            ],
            "Type": "Task"
        },
        "Start Crawler For Raw File": {
            "Catch": [
                {
                    "Comment": "Crawler is running for long time",
                    "ErrorEquals": [
                        "CrawlerRunningException"
                    ],
                    "Next": "FAIL - Move file to error folder"
                },
                {
                    "Comment": "Error fall back",
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FAIL - Move file to error folder",
                    "ResultPath": "$.error-info"
                }
            ],
            "Next": "Raw File Crawler Status Check",
            "Parameters": {
                "Crawler_Name": "${CrawlRawFile}"
            },
            "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${StartCrawlerFunction}",
            "ResultPath": "$.taskresult",
            "ResultSelector": {
                "cnt": "0",
                "crawler_name": "${CrawlRawFile}"
            },
            "Retry": [
                {
                    "BackoffRate": 2,
                    "ErrorEquals": [
                        "CrawlerRunningException"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 10
                }
            ],
            "Type": "Task"
        },
        "Success Notification": {
            "End": true,
            "Parameters": {
                "executionname.$": "$$.Execution.Name",
                "msg.$": "$.msg",
                "status.$": "$.Status"
            },
            "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${NotificationFunction}",
            "Type": "Task"
        },
        "Validate input csv": {
            "Next": "Validation Success?",
            "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${InputValidationFunction}",
            "ResultPath": "$.taskresult",
            "Type": "Task"
        },
        "Validation Success?": {
            "Choices": [
                {
                    "Next": "Start Crawler For Raw File",
                    "StringEquals": "SUCCESS",
                    "Variable": "$.taskresult.Validation"
                },
                {
                    "Next": "FAIL - Move file to error folder",
                    "StringEquals": "FAILURE",
                    "Variable": "$.taskresult.Validation"
                }
            ],
            "Type": "Choice"
        }
    }
}