test/resources/builder.json
{
    "Comment": "Builder Example",
    "StartAt": "FetchValidateCreateFn",
    "States": {
        "Built?": {
            "Choices": [
                {
                    "BooleanEquals": true,
                    "Next": "Success",
                    "Variable": "$.Built"
                },
                {
                    "BooleanEquals": true,
                    "Next": "Fail",
                    "Variable": "$.Error"
                }
            ],
            "Default": "CleanUpFailureFn",
            "Type": "Choice"
        },
        "CheckBuilt": {
            "Comment": "Is the build finished, has it errored?",
            "Next": "Built?",
            "Resource": "go://localhost/CheckBuilt",
            "Type": "Task"
        },
        "CheckBuiltFn": {
            "Next": "CheckBuilt",
            "Result": "CheckBuilt",
            "ResultPath": "$.Task",
            "Type": "Pass"
        },
        "Fail": {
            "Type": "Fail"
        },
        "FetchValidateCreate": {
            "Comment": "Fetch, Validate, Create Resources",
            "Next": "WaitForBuilt",
            "Resource": "go://localhost/FetchValidateCreate",
            "Type": "Task"
        },
        "FetchValidateCreateFn": {
            "Next": "FetchValidateCreate",
            "Result": "FetchValidateCreate",
            "ResultPath": "$.Task",
            "Type": "Pass"
        },
        "Success": {
            "Type": "Succeed"
        },
        "WaitForBuilt": {
            "Next": "CheckBuiltFn",
            "Seconds": 20,
            "Type": "Wait"
        }
    }
}