test/resources/eks_canary_deployment_stepfunction.json
{
    "StartAt": "Here We Go",
    "States": {
        "Canary 10": {
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Roll Back"
                }
            ],
            "InputPath": null,
            "Next": "Wait10",
            "Resource": "arn:aws:lambda:ap-south-1:903779448426:function:eks-canary-stack-SampleFunction-1GVNOT8HW76IN:$LATEST",
            "Type": "Task"
        },
        "Canary 100": {
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Roll Back"
                }
            ],
            "InputPath": null,
            "Next": "DONE",
            "Resource": "arn:aws:lambda:ap-south-1:903779448426:function:eks-canary-stack-SampleFunction-1GVNOT8HW76IN:$LATEST",
            "Type": "Task"
        },
        "Canary 20": {
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Roll Back"
                }
            ],
            "InputPath": null,
            "Next": "Wait20",
            "Resource": "arn:aws:lambda:ap-south-1:903779448426:function:eks-canary-stack-SampleFunction-1GVNOT8HW76IN:$LATEST",
            "Type": "Task"
        },
        "Canary 30": {
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Roll Back"
                }
            ],
            "InputPath": null,
            "Next": "Wait30",
            "Resource": "arn:aws:lambda:ap-south-1:903779448426:function:eks-canary-stack-SampleFunction-1GVNOT8HW76IN:$LATEST",
            "Type": "Task"
        },
        "Canary 40": {
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Roll Back"
                }
            ],
            "InputPath": null,
            "Next": "Wait40",
            "Resource": "arn:aws:lambda:ap-south-1:903779448426:function:eks-canary-stack-SampleFunction-1GVNOT8HW76IN:$LATEST",
            "Type": "Task"
        },
        "Canary 50": {
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Roll Back"
                }
            ],
            "InputPath": null,
            "Next": "Wait50",
            "Resource": "arn:aws:lambda:ap-south-1:903779448426:function:eks-canary-stack-SampleFunction-1GVNOT8HW76IN:$LATEST",
            "Type": "Task"
        },
        "Canary 60": {
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Roll Back"
                }
            ],
            "InputPath": null,
            "Next": "Wait60",
            "Resource": "arn:aws:lambda:ap-south-1:903779448426:function:eks-canary-stack-SampleFunction-1GVNOT8HW76IN:$LATEST",
            "Type": "Task"
        },
        "Canary 70": {
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Roll Back"
                }
            ],
            "InputPath": null,
            "Next": "Wait70",
            "Resource": "arn:aws:lambda:ap-south-1:903779448426:function:eks-canary-stack-SampleFunction-1GVNOT8HW76IN:$LATEST",
            "Type": "Task"
        },
        "Canary 80": {
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Roll Back"
                }
            ],
            "InputPath": null,
            "Next": "Wait80",
            "Resource": "arn:aws:lambda:ap-south-1:903779448426:function:eks-canary-stack-SampleFunction-1GVNOT8HW76IN:$LATEST",
            "Type": "Task"
        },
        "Canary 90": {
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Roll Back"
                }
            ],
            "InputPath": null,
            "Next": "Wait90",
            "Resource": "arn:aws:lambda:ap-south-1:903779448426:function:eks-canary-stack-SampleFunction-1GVNOT8HW76IN:$LATEST",
            "Type": "Task"
        },
        "DONE": {
            "End": true,
            "Result": "DONE",
            "Type": "Pass"
        },
        "Here We Go": {
            "Next": "Canary 10",
            "Result": "Hello World!",
            "Type": "Pass"
        },
        "Roll Back": {
            "End": true,
            "Result": "DONE",
            "Type": "Pass"
        },
        "Wait10": {
            "Next": "Canary 20",
            "Seconds": 10,
            "Type": "Wait"
        },
        "Wait20": {
            "Next": "Canary 30",
            "Seconds": 10,
            "Type": "Wait"
        },
        "Wait30": {
            "Next": "Canary 40",
            "Seconds": 10,
            "Type": "Wait"
        },
        "Wait40": {
            "Next": "Canary 50",
            "Seconds": 10,
            "Type": "Wait"
        },
        "Wait50": {
            "Next": "Canary 60",
            "Seconds": 10,
            "Type": "Wait"
        },
        "Wait60": {
            "Next": "Canary 70",
            "Seconds": 10,
            "Type": "Wait"
        },
        "Wait70": {
            "Next": "Canary 80",
            "Seconds": 10,
            "Type": "Wait"
        },
        "Wait80": {
            "Next": "Canary 90",
            "Seconds": 10,
            "Type": "Wait"
        },
        "Wait90": {
            "Next": "Canary 100",
            "Seconds": 10,
            "Type": "Wait"
        }
    }
}