test/resources/emit_and_wait.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Emit - PHASE 1",
    "States": {
        "Emit - PHASE 1": {
            "Catch": [
                {
                    "Comment": "Customer timed out",
                    "ErrorEquals": [
                        "States.Timeout"
                    ],
                    "Next": "TIMEOUT",
                    "ResultPath": "$.comment"
                }
            ],
            "HeartbeatSeconds": 300,
            "Next": "Emit - PHASE 2",
            "Parameters": {
                "Entries": [
                    {
                        "Detail": {
                            "Message": "The workflow has reached Phase 2",
                            "TaskToken.$": "$$.Task.Token"
                        },
                        "DetailType": "Phase",
                        "EventBusName": "Default",
                        "Source": "emitAndWait"
                    }
                ]
            },
            "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
            "ResultPath": null,
            "Type": "Task"
        },
        "Emit - PHASE 2": {
            "Catch": [
                {
                    "Comment": "Customer timed out",
                    "ErrorEquals": [
                        "States.Timeout"
                    ],
                    "Next": "TIMEOUT",
                    "ResultPath": "$.comment"
                }
            ],
            "HeartbeatSeconds": 300,
            "Next": "Emit - PHASE 3",
            "Parameters": {
                "Entries": [
                    {
                        "Detail": {
                            "Message": "The workflow has reached Phase 2",
                            "TaskToken.$": "$$.Task.Token"
                        },
                        "DetailType": "Phase",
                        "EventBusName": "Default",
                        "Source": "emitAndWait"
                    }
                ]
            },
            "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
            "ResultPath": null,
            "Type": "Task"
        },
        "Emit - PHASE 3": {
            "Catch": [
                {
                    "Comment": "Customer timed out",
                    "ErrorEquals": [
                        "States.Timeout"
                    ],
                    "Next": "TIMEOUT",
                    "ResultPath": "$.comment"
                }
            ],
            "End": true,
            "HeartbeatSeconds": 300,
            "Parameters": {
                "Entries": [
                    {
                        "Detail": {
                            "Message": "The workflow has reached Phase 3",
                            "TaskToken.$": "$$.Task.Token"
                        },
                        "DetailType": "Phase",
                        "EventBusName": "Default",
                        "Source": "emitAndWait"
                    }
                ]
            },
            "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
            "ResultPath": null,
            "Type": "Task"
        },
        "Emit - TIMEDOUT": {
            "End": true,
            "HeartbeatSeconds": 300,
            "Parameters": {
                "Entries": [
                    {
                        "Detail": {
                            "Message": "The workflow has reached timedout",
                            "TaskToken.$": "$$.Task.Token"
                        },
                        "DetailType": "timeout",
                        "EventBusName": "Default",
                        "Source": "emitAndWait"
                    }
                ]
            },
            "Resource": "arn:aws:states:::events:putEvents",
            "ResultPath": null,
            "Type": "Task"
        },
        "TIMEOUT": {
            "Next": "Emit - TIMEDOUT",
            "Type": "Pass"
        }
    }
}