test/resources/image_catalog_statemachine.json
{
    "Comment": "Beispielworkflow: Automatisierter Bilderkatalog",
    "StartAt": "Auf unpassende Inhalte pruefen",
    "States": {
        "Auf unpassende Inhalte pruefen": {
            "Next": "Unpassende Inhalte entdeckt?",
            "Parameters": {
                "Image": {
                    "S3Object": {
                        "Bucket.$": "$.detail.bucket.name",
                        "Name.$": "$.detail.object.key"
                    }
                }
            },
            "Resource": "arn:aws:states:::aws-sdk:rekognition:detectModerationLabels",
            "ResultPath": "$.moderationResult",
            "Type": "Task"
        },
        "Bild verarbeiten": {
            "Branches": [
                {
                    "StartAt": "Objekte im Bild erkennen",
                    "States": {
                        "Objekte im Bild erkennen": {
                            "Next": "Objekte in Datenbank speichern",
                            "Parameters": {
                                "Image": {
                                    "S3Object": {
                                        "Bucket.$": "$.detail.bucket.name",
                                        "Name.$": "$.detail.object.key"
                                    }
                                }
                            },
                            "Resource": "arn:aws:states:::aws-sdk:rekognition:detectLabels",
                            "ResultPath": "$.output",
                            "Type": "Task"
                        },
                        "Objekte in Datenbank speichern": {
                            "End": true,
                            "Parameters": {
                                "ExpressionAttributeValues": {
                                    ":o": {
                                        "S.$": "States.JsonToString($.output.Labels)"
                                    }
                                },
                                "Key": {
                                    "Id": {
                                        "S.$": "$.detail.object.key"
                                    }
                                },
                                "TableName": "${CatalogTable}",
                                "UpdateExpression": "set detectedObjects=:o"
                            },
                            "Resource": "arn:aws:states:::dynamodb:updateItem",
                            "Type": "Task"
                        }
                    }
                },
                {
                    "StartAt": "Text im Bild erkennen",
                    "States": {
                        "Text im Bild erkennen": {
                            "Next": "Text in Datenbank abspeichern",
                            "Parameters": {
                                "Image": {
                                    "S3Object": {
                                        "Bucket.$": "$.detail.bucket.name",
                                        "Name.$": "$.detail.object.key"
                                    }
                                }
                            },
                            "Resource": "arn:aws:states:::aws-sdk:rekognition:detectText",
                            "ResultPath": "$.output",
                            "Type": "Task"
                        },
                        "Text in Datenbank abspeichern": {
                            "End": true,
                            "Parameters": {
                                "ExpressionAttributeValues": {
                                    ":t": {
                                        "S.$": "States.JsonToString($.output.TextDetections)"
                                    }
                                },
                                "Key": {
                                    "Id": {
                                        "S.$": "$.detail.object.key"
                                    }
                                },
                                "TableName": "${CatalogTable}",
                                "UpdateExpression": "set detectedText=:t"
                            },
                            "Resource": "arn:aws:states:::dynamodb:updateItem",
                            "Type": "Task"
                        }
                    }
                }
            ],
            "End": true,
            "Type": "Parallel"
        },
        "Moderatoren benachrichtigen": {
            "End": true,
            "Parameters": {
                "Message.$": "$",
                "TopicArn": "${ModeratorSNSTopic}"
            },
            "Resource": "arn:aws:states:::sns:publish",
            "Type": "Task"
        },
        "Unpassende Inhalte entdeckt?": {
            "Choices": [
                {
                    "IsPresent": true,
                    "Next": "Moderatoren benachrichtigen",
                    "Variable": "$.moderationResult.ModerationLabels[0]"
                }
            ],
            "Default": "Bild verarbeiten",
            "Type": "Choice"
        }
    }
}