test/resources/image_catalog_solution.json
{
    "Comment": "Serverless image cataloging state machine solution",
    "StartAt": "Check for inappropriate content",
    "States": {
        "Check for inappropriate content": {
            "Next": "Inappropriate content detected?",
            "Parameters": {
                "Image": {
                    "S3Object": {
                        "Bucket.$": "$.bucket",
                        "Name.$": "$.key"
                    }
                }
            },
            "Resource": "arn:aws:states:::aws-sdk:rekognition:detectModerationLabels",
            "ResultPath": "$.moderationResult",
            "Type": "Task"
        },
        "Inappropriate content detected?": {
            "Choices": [
                {
                    "IsPresent": true,
                    "Next": "Notify content moderators",
                    "Variable": "$.moderationResult.ModerationLabels[0]"
                }
            ],
            "Default": "Process image",
            "Type": "Choice"
        },
        "Notify content moderators": {
            "End": true,
            "Parameters": {
                "Message.$": "$",
                "TopicArn": "${ModeratorSNSTopic}"
            },
            "Resource": "arn:aws:states:::sns:publish",
            "Type": "Task"
        },
        "Process image": {
            "Branches": [
                {
                    "StartAt": "Detect objects in image",
                    "States": {
                        "Detect objects in image": {
                            "Next": "Record objects in database",
                            "Parameters": {
                                "Image": {
                                    "S3Object": {
                                        "Bucket.$": "$.bucket",
                                        "Name.$": "$.key"
                                    }
                                }
                            },
                            "Resource": "arn:aws:states:::aws-sdk:rekognition:detectLabels",
                            "ResultPath": "$.output",
                            "Type": "Task"
                        },
                        "Record objects in database": {
                            "End": true,
                            "Parameters": {
                                "ExpressionAttributeValues": {
                                    ":o": {
                                        "S.$": "States.JsonToString($.output.Labels)"
                                    }
                                },
                                "Key": {
                                    "Id": {
                                        "S.$": "$.key"
                                    }
                                },
                                "TableName": "${CatalogTable}",
                                "UpdateExpression": "set detectedObjects=:o"
                            },
                            "Resource": "arn:aws:states:::dynamodb:updateItem",
                            "Type": "Task"
                        }
                    }
                },
                {
                    "StartAt": "Detect text in image",
                    "States": {
                        "Detect text in image": {
                            "Next": "Record text in database",
                            "Parameters": {
                                "Image": {
                                    "S3Object": {
                                        "Bucket.$": "$.bucket",
                                        "Name.$": "$.key"
                                    }
                                }
                            },
                            "Resource": "arn:aws:states:::aws-sdk:rekognition:detectText",
                            "ResultPath": "$.output",
                            "Type": "Task"
                        },
                        "Record text in database": {
                            "End": true,
                            "Parameters": {
                                "ExpressionAttributeValues": {
                                    ":t": {
                                        "S.$": "States.JsonToString($.output.TextDetections)"
                                    }
                                },
                                "Key": {
                                    "Id": {
                                        "S.$": "$.key"
                                    }
                                },
                                "TableName": "${CatalogTable}",
                                "UpdateExpression": "set detectedText=:t"
                            },
                            "Resource": "arn:aws:states:::dynamodb:updateItem",
                            "Type": "Task"
                        }
                    }
                }
            ],
            "End": true,
            "Type": "Parallel"
        }
    }
}