test/resources/no-terminal.json
{
    "StartAt": "FirstState",
    "States": {
        "ChoiceState": {
            "Choices": [
                {
                    "Next": "FirstMatchState",
                    "NumericEquals": 3,
                    "Variable": "$.foo"
                },
                {
                    "Next": "SecondMatchState",
                    "NumericEquals": 4,
                    "Variable": "$.foo"
                }
            ],
            "Default": "NextState",
            "Type": "Choice"
        },
        "FirstMatchState": {
            "Next": "NextState",
            "Resource": "arn:aws:lambda:us-east-1::function:OnFirstMatch",
            "Type": "Task"
        },
        "FirstState": {
            "Next": "ChoiceState",
            "Resource": "arn:aws:lambda:us-east-1:ACCOUNT_ID:function:FUNCTION_NAME",
            "Type": "Task"
        },
        "NextState": {
            "Next": "SecondMatchState",
            "Resource": "arn:aws:lambda:us-east-1:ACCOUNT_ID:function:FUNCTION_NAME",
            "Type": "Task"
        },
        "SecondMatchState": {
            "Next": "NextState",
            "Resource": "arn:aws:lambda:us-east-1::function:OnSecondMatch",
            "Type": "Task"
        }
    }
}