test/resources/step_deployer.json
{
    "Comment": "Step Deployer Example",
    "StartAt": "FetchValidateCreateFn",
    "States": {
        "FetchValidateCreate": {
            "Comment": "Fetch, Validate, Create Resources",
            "Next": "WaitForHealthy",
            "Resource": "",
            "Type": "Task"
        },
        "FetchValidateCreateFn": {
            "Next": "FetchValidateCreate",
            "Result": "FetchValidateCreate",
            "ResultPath": "$.Task",
            "Type": "Pass"
        },
        "Success": {
            "Type": "Succeed"
        }
    }
}