test/resources/stepfunction_error_handling_example.json
{
    "Comment": "CalculationStateMachine",
    "StartAt": "CleanInput",
    "States": {
        "Add": {
            "Next": "Divide",
            "Parameters": {
                "FunctionName": "${AddFunctionArn}",
                "Payload": {
                    "input.$": "$.Payload"
                }
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "Type": "Task"
        },
        "Choice": {
            "Choices": [
                {
                    "Next": "Subtract",
                    "NumericGreaterThanEquals": 20,
                    "Variable": "$.Payload.result"
                }
            ],
            "Default": "Notify",
            "Type": "Choice"
        },
        "CleanInput": {
            "Next": "Multiply",
            "Parameters": {
                "FunctionName": "${CleanFunctionArn}",
                "Payload": {
                    "input.$": "$"
                }
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "Type": "Task"
        },
        "Divide": {
            "End": true,
            "Parameters": {
                "FunctionName": "${DivideFunctionArn}",
                "Payload": {
                    "input.$": "$.Payload"
                }
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "Type": "Task"
        },
        "Multiply": {
            "Next": "Choice",
            "Parameters": {
                "FunctionName": "${MultiplyFunctionArn}",
                "Payload": {
                    "input.$": "$.Payload"
                }
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "Type": "Task"
        },
        "Notify": {
            "End": true,
            "Parameters": {
                "Message.$": "$$",
                "Subject": "Failed Test",
                "TopicArn": "arn:aws:sns:us-east-1:0123456789:CalculateNotify"
            },
            "Resource": "arn:aws:states:::sns:publish",
            "Type": "Task"
        },
        "Subtract": {
            "Next": "Add",
            "Parameters": {
                "FunctionName": "${SubtractFunctionArn}",
                "Payload": {
                    "input.$": "$.Payload"
                }
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "Type": "Task"
        }
    }
}