test/resources/word_filtering_script_generator.json
{
    "Comment": "Video",
    "StartAt": "CreateVocabularyFilter",
    "States": {
        "CreateVocabularyFilter": {
            "Next": "Wait for Creating Filter",
            "Parameters": {
                "LanguageCode": "en-US",
                "VocabularyFilterName": "badWordFilter",
                "Words": [
                    "mug",
                    "fucking"
                ]
            },
            "Resource": "arn:aws:states:::aws-sdk:transcribe:createVocabularyFilter",
            "ResultPath": null,
            "Type": "Task"
        },
        "Fail": {
            "Type": "Fail"
        },
        "GetObject": {
            "Comment": "Get Transcribed json file",
            "Next": "PutObject",
            "Parameters": {
                "Bucket": "bucket-776177632559-us-east-1-transcript-results",
                "Key": "temp.json"
            },
            "Resource": "arn:aws:states:us-east-1:776177632559:aws-sdk:s3:getObject",
            "ResultPath": "$.transcription",
            "ResultSelector": {
                "filecontent.$": "States.StringToJson($.Body)"
            },
            "Type": "Task"
        },
        "GetTranscriptionJobStatus": {
            "Next": "TranscriptionJobStatus",
            "Parameters": {
                "TranscriptionJobName.$": "$.TranscriptionJob.TranscriptionJobName"
            },
            "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
            "Type": "Task"
        },
        "PutObject": {
            "Comment": "extract transcription text in json file",
            "End": true,
            "Parameters": {
                "Body.$": "$.transcription.filecontent.results.transcripts[0].transcript",
                "Bucket": "bucket-776177632559-us-east-1-transcript-results",
                "Key": "transcript.txt"
            },
            "Resource": "arn:aws:states:us-east-1:776177632559:aws-sdk:s3:putObject",
            "Type": "Task"
        },
        "StartTranscriptionJob": {
            "Comment": "Start a transcribe job on the provided media file",
            "Next": "Wait for Starting Job",
            "Parameters": {
                "LanguageCode": "en-US",
                "Media": {
                    "MediaFileUri.$": "States.Format('s3://{}/{}', $.detail.bucket.name, $.detail.object.key)"
                },
                "OutputBucketName": "bucket-776177632559-us-east-1-transcript-results",
                "OutputKey": "temp.json",
                "Settings": {
                    "VocabularyFilterMethod": "mask",
                    "VocabularyFilterName": "badWordFilter"
                },
                "TranscriptionJobName.$": "$$.Execution.Name"
            },
            "Resource": "arn:aws:states:us-east-1:776177632559:aws-sdk:transcribe:startTranscriptionJob",
            "Type": "Task"
        },
        "TranscriptionJobStatus": {
            "Choices": [
                {
                    "Next": "GetObject",
                    "StringEquals": "COMPLETED",
                    "Variable": "$.TranscriptionJob.TranscriptionJobStatus"
                },
                {
                    "Next": "Fail",
                    "StringEquals": "FAILED",
                    "Variable": "$.TranscriptionJob.TranscriptionJobStatus"
                }
            ],
            "Default": "Wait for Starting Job",
            "Type": "Choice"
        },
        "Wait for Creating Filter": {
            "Next": "StartTranscriptionJob",
            "Seconds": 20,
            "Type": "Wait"
        },
        "Wait for Starting Job": {
            "Next": "GetTranscriptionJobStatus",
            "Seconds": 10,
            "Type": "Wait"
        }
    }
}